// Global
$prefix-cls: rc;

// Color
$white: #ffffff;
$black: #000000;
$primary-color: #0077ff;
$error-color: #ff1100;
$warning-color: #ffbb00;
$success-color: #11cc00;
$disabled-color: #dddddd;

// Z-Index
$z-index: 0;
$z-index-up: 1;
$z-index-upper: 100;
$z-index-upperer: 10000;
$z-index-upperest: 99999;

// Background
$component-bg: #aaaaaa;
$disabled-bg: #e5e5e5;
$active-bg: rgba($primary-color, 0.2);

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$text-color: #333333;
$text-color-secondary: #666666;
$text-color-light: #999999;
$text-color-danger: $error-color;
$text-color-disabled: $disabled-color;

// Animation
$transition-duration: 0.2s;

// Border
$border-width-sm: 1px;
$border-width: 3px;
$border-width-lg: 4px;
$border-color: #cccccc;
$border-color-split: #eeeeee;
$border-radius-sm: 2px;
$border-radius: 3px;
$border-radius-lg: 5px;
