{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/transform-member-expression-literals",
    "@babel/transform-property-literals",
    "@babel/transform-reserved-words"
  ]
}
