:local .test {
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    transition: border 0.2s;
    &:hover {
        border-color: #333;
    }
}